.mainTitle{
    color: #B5B5B5;
    text-align: center;
    font-family: "Inter Tight";
    font-size: 4.16vw;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 4.58333rem */
    text-transform: uppercase;

    span{
        color: #222;
        font-style: italic;
    }
}