.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vw 0;
  position: relative;
  overflow: hidden;
  .headWrapper{
    position: relative;
    z-index: 9;
  }

  &::before{
    content: '';
    position: absolute;
    top: 10vw;
    left: 0;
    width: 100%;
    height: 20vw;
    background: linear-gradient(180deg, #FFF 0%, #FFF 60.1%, rgba(255, 255, 255, 0.00) 100%);
    z-index: 0;
  }

  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vw;
    background: linear-gradient(0deg, #FFF 0%, #FFF 60.1%, rgba(255, 255, 255, 0.00) 100%);
    z-index: 0;
  }


  .achievements{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.83vw;
    margin-top: 3.75vw;
    position: relative;
    z-index: 9;

    .card{
        display: flex;
        padding: 2.08vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 22.29vw;
        height: 19.3vw;
        border-radius: 1.66vw;
        background: #222;
        backdrop-filter: blur(10px);

        .cardIcon{
            display: flex;
            padding: 0.625vw 0.83333vw;
            justify-content: center;
            align-items: center;
            gap: 0.52vw;
            border-radius: 0.625vw;
            background: rgba(255, 255, 255, 0.05);
            color: #FFF;
            font-size: 0.83vw;
            font-weight: 800;
            line-height: 140%;
            letter-spacing: -0.01vw;

            img{
                width: 1.25vw;
                height: 1.25vw;
            }
        }

        .cardContent{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.6vw;

            h3{
                color: #FFF;
                font-style: italic;
                font-size: 2.91vw;
                font-weight: 900;
                line-height: 100%;
                text-transform: uppercase;
            }

            p{
                color: #B5B5B5;
                font-size: 0.83vw;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: -0.01vw;
            }
        }
    }
    .card:nth-child(2n){
        margin-top: 10.4vw;
    }
  }
  
}