.section {
  width: 100%;
  padding: 4.17vw 0;
  background: var(--white);
}

.header {
  text-align: center;
  margin-bottom: 4.17vw;
}

.expertise {
  display: block;
  font-family: var(--second-family);
  font-size: 0.73vw;
  font-weight: 700;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: var(--gray);
  margin-bottom: 0.63vw;
}

.title {
  font-family: var(--third-family);
  font-weight: 900;
  font-size: 4.17vw;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--light-gray-2);
}

.industries {
  color: var(--light-gray-2);
  display: block;
}

.weKnowWell {
  color: var(--black);
  display: block;
  font-family: var(--third-family);
  font-weight: 900;
}

.casesCount {
  color: var(--primary, #ffe414);
  font-size: 0.36vw;
  margin-left: 0.42vw;
  font-family: var(--third-family);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.38vw, 15vw));
  gap: 2.08vw;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  padding-left: 4.17vw;
  padding-right: 4.17vw;
  overflow-x: auto;
  gap: 0.84vw;
}

.card {
  background: var(--white);
  border: 0.08vw dashed var(--gray);
  border-radius: 1.25vw;
  padding: 1.67vw 0;
  width: 15vw;
  height: 26.67vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition:
    border 0.2s,
    box-shadow 0.2s;
  box-sizing: border-box;
  padding: 2.1vw;
  border: 1px dashed var(--gray);
}

.card:hover {
  /* outline: 0.1vw solid var(--primary, #ffe414); */
  border: 1px dashed var(--gray);
  z-index: 2;
}

/* .active {
  border: 0.13vw solid var(--primary, #ffe414);
  box-shadow: 0 0 0 0.1vw #ffe41433;
} */

.cardTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.25vw;
  position: relative;
  width: 10.83vw;
  height: 2.71vw;
}

.cases {
  font-family: var(--font-family);
  font-size: 0.78vw;
  font-weight: 700;
  color: var(--black);
  letter-spacing: 0.01em;
  margin-left: 0.42vw;
}

.closeBtnWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 0;
  padding-right: 1.25vw;
  height: 0.05vw;
}

.closeBtn {
  /* width: 2.71vw;
  height: 2.71vw; */
  /* padding: 1.25vw; */
  border-radius: 50%;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0.1vw 0.42vw rgba(0, 0, 0, 0.07);
  padding: 0.84vw;
  transition:
    background 0.2s,
    transform 0.2s;
  top: unset;
  right: unset;
}

.arrowIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.04vw;
  height: 1.04vw;
  transform: rotate(-180deg);
}

.iconWrap {
  margin: 1.67vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.17vw;
  height: 4.17vw;
}

.cardTitle {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 1.15vw;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
  margin-top: auto;
}
.wrapHeading{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.63vw;

  .count{
      color: #F5DA0A;
      font-family: "Inter Tight";
      font-size: 2.08333vw;
      font-style: italic;
      font-weight: 900;
      line-height: 100%; /* 2.08333rem */
      text-transform: uppercase;
      margin-bottom: 2vw;
  }
}

.industriesBadge {
  /* width: 704px;
  height: 222px; */
}
