.section {
  padding-top: 10.42vw;
  padding-bottom: 10.42vw;
  background-color: rgba(34, 34, 34, 1);

  .topBlock {
    margin-bottom: 4.17vw;

    .upperDescr {
      width: max-content;
      margin-bottom: 2.08vw;
      margin-left: auto;
      margin-right: auto;
      padding: 0.42vw 1.25vw;
      border-radius: 2.08vw;
      background-color: rgba(255, 255, 255, 0.1);
      color: #ffffff;
    }

    h2 {
      position: relative;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      font-size: 4.17vw;
      font-style: normal;
      font-weight: 900;
      line-height: 1.1;
      text-align: center;
      text-transform: uppercase;
      color: rgba(181, 181, 181, 1);

      span {
        font-style: italic;
        color: #ffffff;
      }
    }

    h2:after {
      content: '(4)';
      position: absolute;
      bottom: 2vw;
      right: -4.08vw;
      font-size: 2.08vw;
      font-style: italic;
      font-weight: 900;
      line-height: 1;
      text-transform: uppercase;
      color: rgba(245, 218, 10, 1);
    }
  }

  .tariffsList {
    display: flex;
    gap: 0.42vw;
    padding: 0 4.17vw;

    .tariffPlan {
      position: relative;
      padding: 2.08vw;
      border-radius: 1.67vw;
      background-color: rgba(34, 34, 34, 0.6);
      border: 0.05vw solid #fff;
      backdrop-filter: blur(6px);

      .title {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2.08vw;
        padding: 0.42vw 0.83vw;
        border-radius: 0.63vw;
        background-color: #ffffff;

        font-size: 0.73vw;
        font-style: normal;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 1.82px;
        text-transform: uppercase;
      }

      .line {
        position: absolute;
        top: 2.97vw;
        left: 3.33vw;
        z-index: -10;
        width: 15.94vw;
        height: 0.05vw;

        background: linear-gradient(
          90deg,
          #3c3c3c 0%,
          #f9f9f9 13.02%,
          #3c3c3c 25.49%,
          #3c3c3c 50.08%,
          #3c3c3c 75.37%,
          #f9f9f9 86.64%,
          #3c3c3c 100%
        );
      }

      .slogan {
        width: 18vw;
        margin-bottom: 0.83vw;

        font-size: 2.19vw;
        font-style: italic;
        font-weight: 900;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color: rgba(255, 228, 20, 1);
      }

      .descr {
        width: 13vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.25vw;
        font-size: 0.83vw;
        font-style: normal;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        letter-spacing: -0.32px;
        color: rgba(181, 181, 181, 1);
      }

      .services {
        padding: 1.04vw;
        margin-bottom: 1.67vw;
        border-radius: 1.25vw;
        background-color: rgba(249, 249, 249, 0.1);

        h4 {
          width: max-content;
          display: flex;
          gap: 0.31vw;
          margin-bottom: 1.04vw;
          padding: 0.52vw 0.63vw;
          border-radius: 0.63vw;
          background-color: rgba(255, 228, 20, 1);

          font-size: 0.94vw;
          font-style: normal;
          font-weight: 800;
          line-height: 1;
          letter-spacing: -0.36px;

          svg {
            width: 1.25vw;
            height: 1.25vw;
          }
        }

        .servicesList {
          display: flex;
          flex-direction: column;
          gap: 0.63vw;
          padding-left: 1.04vw;
          list-style-image: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
          list-style: disc;

          li {
            font-size: 0.83vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1.4;
            letter-spacing: -0.32px;

            color: #ffffff;
          }

          li::marker {
            color: #ffffff;
          }
        }
      }

      .orderBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.52vw;
        width: 100%;
        height: 3.49vw;
        margin-bottom: 1.67vw;
        border-radius: 0.83vw;

        font-size: 0.83vw;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        color: rgba(34, 34, 34, 1);
        background-color: #ffffff;

        svg {
          fill: rgba(34, 34, 34, 1);
        }
      }

      .moreDetails {
        display: flex;
        gap: 0.42vw;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        font-size: 0.83vw;
        font-style: normal;
        font-weight: 800;
        line-height: 1;
        color: rgba(181, 181, 181, 1);
      }
    }

    .tariffPlan.white {
      background-color: #ffffff;

      .title {
        background-color: rgba(34, 34, 34, 1);
        color: #ffffff;
      }

      .slogan {
        color: rgba(34, 34, 34, 1);
      }

      .services {
        background-color: rgba(249, 249, 249, 1);
        .servicesList {
          list-style-image: linear-gradient(
            90deg,
            rgba(34, 34, 34, 1) 0%,
            rgba(34, 34, 34, 1) 100%
          );
          list-style: disc;

          li {
            color: rgba(34, 34, 34, 1);
          }

          li::marker {
            color: rgba(34, 34, 34, 1);
          }
        }
      }

      .orderBtn {
        background-color: rgba(34, 34, 34, 1);
        color: #ffffff;

        svg {
          fill: #ffffff;
        }
      }
    }
  }
}
