.section {
  padding-top: 10.42vw;
  padding-bottom: 10.42vw;
  background-color: rgba(249, 249, 249, 1);

  .topBlock {
    margin-bottom: 6.25vw;
  }

  .accordionCont {
    width: 64.58vw;
    margin-left: auto;
    margin-right: auto;

    .accordion {
      .accordionItem {
        padding: 2.08vw;
        border-radius: 1.67vw;
        background-color: #ffffff;

        .itemBtn {
          width: 100%;
        }

        .itemContent {
          transition: height 0.25s cubic-bezier(0, 0, 0, 1);
        }

        .itemPanel {
          padding-top: 0.83vw;
          font-size: 0.83vw;
          font-style: normal;
          font-weight: 700;
          line-height: 1.4;
          letter-spacing: -0.32px;
          color: rgba(104, 104, 104, 1);
        }

        .itemHeader {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .question {
            font-size: 1.67vw;
            font-style: italic;
            font-weight: 900;
            line-height: 1;
            text-transform: uppercase;
            color: rgba(34, 34, 34, 1);
          }

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.02vw;
            height: 3.02vw;
            border-radius: 0.63vw;
            background-color: rgba(249, 249, 249, 1);

            span {
              width: 2.19vw;
              height: 2.19vw;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 0.34vw;
              background-color: #ffffff;

              svg {
                transition: transform 300ms ease-in-out;
              }
            }
          }
        }

        .itemBtnExpanded {
          .itemHeader {
            button {
              svg {
                transform: rotateZ(180deg);
              }
            }
          }
        }
      }
    }
  }
}
