.wrapper {
  position: relative;
  width: 100%;
  height: 20.83vw;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 8.54vw;
  height: 8.54vw;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1.25vw;
  border: 0.05vw solid #fff;
  background: var(
    --Backgraund-detail,
    linear-gradient(141deg, rgba(255, 255, 255, 0.12) 8.87%, rgba(41, 41, 41, 0.12) 93.36%)
  );
  backdrop-filter: blur(2.478468894958496px);

  transform: translate(-50%, -50%);

  svg {
    width: 3.23vw;
    height: 3.23vw;
    fill: rgba(181, 181, 181, 1) !important;
  }
}
