.section {
  padding-top: 10.42vw;
  padding-bottom: 10.42vw;

  .topBlock {
    margin-bottom: 4.17vw;
  }

  .content {
    display: flex;
    gap: 9.58vw;
    width: 91.67vw;
    margin-left: auto;
    margin-right: auto;

    .leftBlock {
      width: 21.25vw;
      flex-shrink: 0;

      .imagesCont {
        display: flex;
        margin-bottom: 1.67vw;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 6.15vw;
          height: 6.15vw;
          border-radius: 50%;
          border: 0.5vw solid rgba(255, 255, 34, 0.13);

          background: linear-gradient(
            169deg,
            rgba(255, 255, 255, 0.16) -6.56%,
            rgba(255, 255, 255, 0) 112.07%
          );
          backdrop-filter: blur(1.6400281190872192px);
        }

        img {
          width: 6.15vw;
          height: 6.15vw;
          position: relative;
          left: -1.04vw;
        }
      }

      h3 {
        margin-bottom: 1.25vw;
        font-size: 2.92vw;
        font-style: italic;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;
        color: rgba(34, 34, 34, 1);

        span {
          color: rgba(181, 181, 181, 1);
        }
      }

      p {
        margin-bottom: 2.08vw;
        font-size: 0.83vw;
        font-style: normal;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -0.32px;

        color: rgba(34, 34, 34, 0.6);
      }

      button {
        display: flex;
        gap: 0.42vw;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1.25vw 2.08vw;
        border-radius: 0.83vw;
        border: 0.05vw solid var(--Black, #222);

        font-size: 0.83vw;
        font-style: normal;
        font-weight: 800;
        line-height: 1;
      }
    }

    .rightBlock {
      .swiper {
        width: 65vw !important;
        margin-bottom: 3.13vw;

        .swiperSlide {
          width: 48.75vw !important;
          .swiperItem {
            display: flex;
            gap: 3.13vw;
            width: 48.75vw;
            padding: 3.13vw;
            border-radius: 1.67vw;
            background-color: rgba(249, 249, 249, 1);

            .reviewerBlock {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              img {
                margin-bottom: 1.04vw;
                width: 10.63vw;
                height: 10.63vw;
                border-radius: 1.25vw;
              }

              h3 {
                margin-bottom: 1.25vw;
                font-size: 1.25vw;
                font-style: italic;
                font-weight: 900;
                line-height: 1;
                text-transform: uppercase;
              }

              .locationBlock {
                display: flex;
                gap: 0.63vw;
                padding: 1.25vw;
                border-radius: 1.25vw;
                background-color: #ffffff;

                .icon {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 1.25vw;
                  height: 1.25vw;
                  border-radius: 50%;
                  background-color: rgba(34, 34, 34, 1);

                  svg {
                    width: 0.63vw;
                    height: 0.63vw;
                    fill: #ffffff;
                  }
                }

                .location {
                  .blockTitle {
                    margin-bottom: 0.83vw;
                    font-size: 0.94vw;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 1.2;
                  }

                  .country {
                    font-size: 0.83vw;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.4;
                    letter-spacing: -0.32px;
                    color: rgba(34, 34, 34, 0.6);
                  }
                }
              }
            }

            .reviewBlock {
              div {
                width: max-content;
                padding: 0.63vw 1.25vw;
                margin-bottom: 2.5vw;
                display: flex;
                align-items: center;
                border-radius: 0.63vw;
                background: linear-gradient(
                  99deg,
                  #737373 -0.38%,
                  #222 28.6%,
                  #737373 48.3%,
                  #222 58.98%,
                  #222 88.48%,
                  #737373 112.92%
                );

                p {
                  margin-right: 0.42vw;
                  font-size: 1.25vw;
                  font-style: italic;
                  font-weight: 700;
                  line-height: 1;
                  text-transform: uppercase;
                  color: #ffffff;
                }

                .star {
                  margin-right: 0.63vw;
                  width: 1.67vw;
                  height: 1.67vw;
                }

                .upwork {
                  width: 4.69vw;
                }
              }

              h4 {
                margin-bottom: 1.67vw;
                font-size: 1.65vw;
                font-style: italic;
                font-weight: 900;
                line-height: 1;
                text-transform: uppercase;
                color: rgba(34, 34, 34, 1);
              }

              .message {
                width: 27.71vw;
                font-size: 0.83vw;
                font-style: normal;
                font-weight: 600;
                line-height: 1.4;
                letter-spacing: -0.32px;
                color: rgba(104, 104, 104, 1);
              }
            }
          }
        }
      }

      .controls {
        width: max-content;
        padding: 0.42vw;
        display: flex;
        gap: 1.67vw;
        align-items: center;
        background-color: rgba(249, 249, 249, 1);
        border-radius: 0.83vw;

        .paginationCont {
          width: max-content;
          display: flex;
          justify-content: center;
          gap: 0.83vw;

          .paginationBullet {
            width: 0.31vw;
            height: 0.31vw;
            border-radius: 1.88vw;
            background-color: rgba(228, 228, 228, 1);
          }

          .paginationBulletActive {
            width: 1.88vw;
            background-color: #000000;
          }
        }

        .navigationBtn {
          width: 8.54vw;
          height: 2.92vw;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.83vw;
          background-color: #ffffff;
        }

        .navigationPrev {
        }

        .navigationNext {
          transform: rotateZ(180deg);
        }

        .disabled {
          .navArrow {
            fill-opacity: 0.6;
          }
        }
      }
    }
  }
}
