.sectionUnique {
  width: 100%;
  max-width: 75vw;
  margin: 0 auto;
  /* padding: 5.21vw 0 0 0; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--white);
  /* gap: 6.77vw; */
  gap: 8.2vw;
  justify-content: center;
  @media (max-width: 900px) {
    flex-direction: column;
    padding: 40px 0 0 0;
    gap: 24px;
  }
}

.sectionUniqueSide {
  width: 21.09vw; /* 405px/1920px */
  min-width: 16.67vw; /* 320px/1920px */
  height: 24.95vw; /* 479px/1920px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 0;
  flex-shrink: 0;
  @media (max-width: 900px) {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    align-items: center;
    min-width: unset;
  }
}
.sideAvatarBlock {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.25vw; /* 24px/1920px */
}
.sideAvatarBg {
  width: 6.15vw; /* 118px/1920px */
  height: 6.15vw;
  border-radius: 100%;
  border: 0.1vw solid #d9d9d9; /* 2px/1920px */
  backdrop-filter: blur(0.42vw); /* 8px/1920px */
  background: linear-gradient(149deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.sideChatIcon {
  width: 2.08vw; /* 40px/1920px */
  height: 2.08vw;
  background: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  position: static;
  left: auto;
  top: auto;
  transform: none;
}
.sideAvatar {
  width: 6.15vw;
  height: 6.15vw;
  border-radius: 100%;
  object-fit: cover;
  margin-left: -2.08vw; /* -40px/1920px */
  z-index: 2;
  border: 0.1vw solid #d9d9d9;
  background: #fff;
}
.sideTitle {
  font-family: var(--third-family);
  font-style: italic;
  font-weight: 900;
  font-size: 2.92vw; /* 56px/1920px */
  line-height: 100%;
  text-transform: uppercase;
  color: var(--light-gray-2);
  margin-bottom: 0.42vw; /* 8px/1920px */
  span {
    color: var(--black);
  }
  @media (max-width: 900px) {
    font-size: 32px;
    text-align: center;
  }
}
.sideDescription {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.83vw; /* 16px/1920px */
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--black-600);
  margin: 0.83vw 0; /* 16px/1920px */
  @media (max-width: 900px) {
    text-align: center;
  }
}
.sideButton {
  border: 0.05vw solid var(--black); /* 1px/1920px */
  border-radius: 0.83vw; /* 16px/1920px */
  padding: 1.25vw 2.08vw; /* 24px 40px/1920px */
  width: 21.09vw; /* 405px/1920px */
  height: 3.54vw; /* 68px/1920px */
  font-weight: 800;
  font-size: 0.83vw; /* 16px/1920px */
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  gap: 0.63vw; /* 12px/1920px */
  margin-top: 1.25vw; /* 24px/1920px */
  cursor: pointer;
  transition: box-shadow 0.2s;
  /* &:hover {
    box-shadow: 0 8px 32px rgba(34, 34, 34, 0.08);
  } */
  @media (max-width: 900px) {
    width: 100%;
    padding: 16px 20px;
    height: 56px;
  }
}
.sidePhoneIcon {
  width: 1.25vw; /* 24px/1920px */
  height: 1.25vw;
  margin-right: 0.42vw; /* 8px/1920px */
}

.sectionUniqueContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.sectionUniqueTitle {
  font-family: var(--third-family);
  font-weight: 900;
  font-size: 4.17vw; /* 80px/1920px */
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
  /* color: var(--light-gray-2);
  margin-bottom: 2.08vw; 
  margin-left: auto;
  margin-right: auto;
  display: block; */
  width: 29.6vw;
  height: 12vw;
  span {
    display: block;
    color: var(--black);
    font-style: italic;
    margin-top: 8px;
  }
  @media (max-width: 900px) {
    font-size: 40px;
    margin-bottom: 24px;
  }
}

.sectionUniqueBadge {
  /* display: inline-block; */
  /* display: inline-block; 
  background: var(--light-gray); */
  /* font-weight: 700; */
  color: var(--black-600);
  margin-bottom: 0.83vw;
  /* letter-spacing: 0.04em; */
  padding: 0.4vw 1.3vw;
  /* width: 7.5vw; */
  height: auto;
  /* background: gray; */
}

.sectionUniqueGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 2.08vw;  */
  gap: 0.4vw;
  width: 100%;
  max-width: 100%;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
  }
}
.sectionUniqueCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1.67vw; /* 32px/1920px */
  padding: 2.08vw; /* 40px/1920px */
  width: 20vw; /* 384px/1920px */
  height: 23.02vw; /* 442px/1920px */
  background: var(--light-gray);
  backdrop-filter: blur(0.42vw); /* 8px/1920px */
  transition: box-shadow 0.2s;
  box-shadow: 0 0.1vw 0.42vw rgba(34, 34, 34, 0.04); /* 2px 8px/1920px */
  justify-content: space-evenly;
  /* &:hover {
    box-shadow: 0 8px 32px rgba(34, 34, 34, 0.08);
    backdrop-filter: blur(8px);
    background: var(--light-gray);
  } */
  @media (max-width: 900px) {
    width: 100%;
    height: auto;
    padding: 20px;
    align-items: center;
  }
}
.cardIcon {
  width: 4.17vw; /* 80px/1920px */
  height: 4.17vw;
  @media (max-width: 900px) {
    width: 60px;
    height: 60px;
  }
}
.cardTitle {
  margin-top: 1.67vw; /* 32px/1920px */
  font-family: var(--third-family);
  font-style: italic;
  font-weight: 900;
  font-size: 1.67vw; /* 32px/1920px */
  line-height: 100%;
  text-transform: uppercase;
  color: var(--black);
  @media (max-width: 900px) {
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
  }
}
.cardDescription {
  margin-top: 0.83vw; /* 16px/1920px */
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.83vw; /* 16px/1920px */
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--black-600);
  @media (max-width: 900px) {
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
  }
}

.sectionLabel {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}
